<!DOCTYPE html>
<html>

<head>
  <title>Hi Ha Sortida</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="../Inconsolata/">
  <style>
    body,
    html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
    }

    .bgimg {
      background-position: center;
      background-size: cover;
      background-image: url("views/img/stars-milky-way-sky-night-dark-man-1634418-pxhere.com.jpg");
      min-height: 75%;
    }

    .menu {
      display: none;
    }
  </style>
</head>

<body>

  <!-- Links (sit on top) -->
  <div class="w3-top">
    <div class="w3-row w3-padding w3-black">
      <div class="w3-col s3">
        <a href="#inici" class="w3-button w3-block w3-black">INICI</a>
      </div>
      <div class="w3-col s3">
        <a href="#qui-som" class="w3-button w3-block w3-black">QUI SOM?</a>
      </div>
      <div class="w3-col s3">
        <a href="#es-per-mi" class="w3-button w3-block w3-black">ÉS PER MI?</a>
      </div>
      <div class="w3-col s3">
        <a href="#eines-practiques" class="w3-button w3-block w3-black">EINES PRÀCTIQUES</a>
      </div>
      <div class="w3-col s3">
        <a href="" class="w3-button w3-block w3-black">hiha<span class="w3-text-purple">sortida</span>.cat <span class="w3-text-purple">DONES</span></a>
      </div>
      <div class="w3-col s3">
        <a href="#contacta" class="w3-button w3-block w3-black">CONTACTA'NS</a>
      </div>
    </div>
  </div>

  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
      <span class="w3-tag">Open from 6am to 5pm</span>
    </div>
    <div class="w3-display-middle w3-center">
      <span class="w3-text-white" style="font-size:90px">Hi Ha<br><span style="font-weight: bold;">Sortida</span></span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
      <span class="w3-text-white">15 Adr street, 5015</span>
    </div>
  </header>

  <!-- Add a background color and large text to the whole page -->
  <div class="w3-sand w3-grayscale w3-padding-32 w3-large">

    <!-- INICI -->
    <div class="w3-container" id="inici">
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">INICI</span></h5>
        <p><strong>L’excessiva atracció al sexe</strong>, o l’adicció al sexe, és un tema <strong>poc tractat</strong>
          en aquesta societat.</p>
        <p>Pot afectar més o menys, però <strong>és més comú del que pensem</strong> i afecta tant a homes com a dones
          però,
          estadísticament, té (de lluny) més incidència entre la població masculina.</p>
        <div></div>
        <p>També és entre els homes que esdevé especialment tabú: podem parlar més o menys obertament de l’adicció al
          tabac, al joc, a les drogues… però, quin home hi ha que no senti certa (o molta) vergonya en admetre
          públicament que té un problema amb la masturbació, el consum de pornografia o la búsqueda constant de
          satisfacció sexual, agafi la forma que agafi?</p>
        <p>En termes generals, cap home n’està orgullós… més aviat provoca vergonya, i la vergonya fa que sovint aquest
          problema es visqui en silenci i aïllament.</p>
    </div>

    <!-- CONTACTA -->
    <div class="w3-container w3-border-top" id="contacta">
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">CONTACTA'NS</span></h5>
        <p>Assistir al taller de superació és senzill, però volem descartar curiosos i persones no afectades. Per això et demanem que emplenis aquest formulari ràpid i un noi ex-afectat es posarà en contacte amb tu via telefònica tant aviat com sigui possible.</p>
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Nom" required name="Name"></p>
          <p><input class="w3-input w3-padding-16 w3-border" type="tel" placeholder="Telèfon" required
              name="People"></p>
          <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Explica'ns una mica de la teva situació (opcional)" name="Message"></p>
          <p><button class="w3-button w3-black" type="submit">ENVIAR</button></p>
        </form>
      </div>
    </div>

    <!-- End page content -->
  </div>

  <!-- Footer -->
  <footer class="w3-center w3-light-grey w3-padding-24 w3-large">
      <p>hiha<span class="w3-text-blue"><strong>sortida</strong></span>.cat</p>
  </footer>

  <script>
    // Read More
    function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }

    // Accordion
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

    // Tabbed Menu
    function openMenu(evt, menuName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("menu");
      for (i = 0; i < x.length; i++) { x[i].style.display = "none"; } tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) { tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", ""); }
      document.getElementById(menuName).style.display = "block"; evt.currentTarget.firstElementChild.className
        += " w3-dark-grey";
    } document.getElementById("myLink").click(); </script>

</body>

</html>